.background-gray {
  background-color: #858A94;
}

.background-white {
  background-color: white;
}

/* header */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #646976;
}

header h1 {
  margin-bottom: 3px;
}

header p {
  margin-top: 3px;
  margin-bottom: 6px;
}

/* images */

img {
  width: 100%;
  height: auto;
}

/* show attribution on hover */
/* 
.image-attribution {
  position: relative;
  display: inline-block;  
  font-size: x-small;
}

.image-attribution .attribution-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #FFF;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: -5px;
  left: 105%;
} */

.image-attribution:hover .attribution-text {
  visibility: visible;
}

/* content */

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-wrapper {
  margin: 10px;
}

.content-row {
  padding-top: 5px;
  padding-bottom: 5px;
}
